@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#app {
  display: block;
  background: #ccc;
  background-size: 100%;
  cursor: pointer;
}
